pandas==2.0.3
tiktoken==0.4.0
# REVERT TO:
#langchain==x.y.z
# TEMPORARILY
git+https://github.com/hemidactylus/langchain@updated-full-preview-remove-shims#egg=langchain&subdirectory=libs/langchain
cassio>=0.1.3

