.navbar {
  margin-bottom: 30px;
}

.spacedButton {
  margin-top: 15px;
  margin-bottom: 15px;
}

.preferencesLabel {
  float: right;
}

.preferencesTitle {
  font-weight: bold;
  margin-bottom: 15px;
}

.hotelThumbnail {
  height: 12em;
  object-fit: cover;
}

.inlineButton {
  margin-left: 25px;
}

.slideImage {
  height: 75vh;
  object-position: center top;
  object-fit: cover;
}